DATABASE_URL=postgresql://neondb_owner:npg_g9aA1yvGkDbK@ep-super-haze-aonzvpf5-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_DATABASE_URL=DATABASE_URL=postgresql://neondb_owner:npg_g9aA1yvGkDbK@ep-super-haze-aonzvpf5-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=g7Hk2Jd9sLwPz8QvVxY3uA9KcR5nTq1ZbF6mN0pQeWs
ADMIN_JWT_SECRET=g7Hk2Jd9sLwPz8QvVxY3uA9KcR5nTq1ZbF6mN0pQeWs
ADMIN_PORT=3001
NODE_ENV=production
